*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.grid {
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  width: 40rem;
  height: 40rem;
  margin: 0 auto;
  border-left: 1px solid black;
  border-top: 1px solid black;
}
.row {
  display: flex;

  flex: 1;
  border-bottom: 1px solid black;
}
.cell {
  flex: 1;
  height: 100%;
  border-right: 1px solid black;
}
